backports.functools-lru-cache==1.5
blis==0.4.1
cachetools==3.1.1
certifi==2019.9.11
chardet==3.0.4
Click==7.0
colour==0.1.5
cycler==0.10.0
cymem==2.0.2
en-core-web-sm==2.2.0
enum34==1.1.6
Flask==1.1.1
google-api-python-client==1.7.11
google-auth==1.6.3
google-auth-httplib2==0.0.3
httplib2==0.14.0
idna==2.6
imutils==0.5.3
ipaddress==1.0.17
itsdangerous==1.1.0
Jinja2==2.10.3
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==2.2.4
murmurhash==1.0.2
numpy==1.16.5
opencv-python==4.1.1.26
pandas==0.24.2
pathlib==1.0.1
pdf2image==1.9.0
pdfminer==20140328
Pillow==6.2.0
plac==0.9.6
preshed==3.0.2
pyasn1==0.4.7
pyasn1-modules==0.2.6
pygobject==3.26.1
pyocr==0.6
pyparsing==2.4.2
PyPDF2==1.26.0
Pyphen==0.9.5
python-dateutil==2.8.0
pytz==2019.2
repoze.lru==0.7
requests==2.22.0
rsa==4.0
scikit-learn==0.20.0
scipy==1.2.0
SecretStorage==2.3.1
six==1.11.0
spacy==2.2.1
srsly==0.1.0
subprocess32==3.5.4
tesserocr==2.4.1
textstat==0.5.6
thinc==7.1.1
tqdm==4.36.1
uritemplate==3.0.0
urllib3==1.25.6
uWSGI==2.0.18
Wand==0.5.7
wasabi==0.2.2
Werkzeug==0.16.0
