#main-nav {
    background: rgba(75,95,125,1);
    text-transform: uppercase;
    border: none;
    padding: 5px;
    box-shadow: none;
}

#main-nav.navbar-default .navbar-nav>li>a {
    color: white;
    font-weight: 900;
}

#main-nav.fade-background.navbar-default .navbar-nav>li>a {
    color: black !important;
}

.fade-background {
    background-color: rgba(0,0,0,0) !important;
}



.slide-up {
    top: -60px;
}

.vis {
    width: auto;
    margin: 0 auto;
}

.vis .img-block {
    padding: 0;
    margin: 0 auto;
    transition: all 0.5s ease;
}

.stage {
    z-index: 1;
    margin: 0 auto;
    padding: 125px 0;
    width: 80%;
}

.tool-bar {
    position: fixed;
    background-color: #455672;
    right: 0px;
    width: 80px;
    height: 100%;
    padding: 10px;
    z-index: 5;    
}

.tool-table {
    display: table;
    border-spacing: 0 10px;
    width: 100%;
    height: auto;
}

.tool-row {
    display: table-row;
}

.tool-table .tool-row .tool-btn {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 60px;
    color: white;
    border-radius: 60px;
    background-color: gray;
    cursor: pointer;
}

.img-patch {
    overflow: hidden;
}

.img-patch .img-patch-text {
    height: auto;
    background-color: rgba(0,0,0,0);
    border: none;
    box-shadow: none;
}

.img-patch .img-patch-text:focus {
    border: none;
    box-shadow: none;
}