body {
    background-color: #eee;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-flex;
    width: 48%;
    height: 16%;
    align-items: center;
    justify-content: center;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    margin: 0;
    overflow: hidden;
}

.switch:nth-child(odd) {
    margin-right: 5px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.check-btn {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: rgba(255,255,255,0.4);
    background-color: rgb(0,75,130);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: .5s;
    transition: .5s;
    font-weight: normal;
    white-space: nowrap;
    font-size: 1.6vh;
}

.check-btn:hover {
    background-color: #1477bd;
    color: white;
}

input:checked + .check-btn {
    background-color: #1477bd;
    color: white;
}

input:focus + .check-btn {
    box-shadow: 0 0 1px #1477bd;
    color: white;
}

#main-nav {
    background: rgba(75,95,125,1);
    text-transform: uppercase;
    border: none;
    padding: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
}

#main-nav.navbar-default .navbar-nav>li>a {
    color: white;
    font-weight: 900;
}

#main-nav.fade-background.navbar-default .navbar-nav>li>a {
    color: black !important;
}

.fade-background {
    background-color: rgba(0,0,0,0) !important;
    box-shadow: none !important;
}

.slide-up {
    top: -60px;
}

.stage {
    z-index: 1;
    margin: 0 auto;
    padding: 125px 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#tool-box-toggle {
    position: fixed;
    left: 0;
    top: 0;
    padding: 15px 25px;
    font-size: 36px;
    color: #555;
    cursor: pointer;
    z-index: 4;
}

#tool-box-toggle:hover {
    background-color: #163e6f;
    color: white;
}

.tool-box {
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: #163e6f;
    color:white;
    height: 100%;
    width: 275px;
    z-index: 5;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.tool-box-btn {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    height: 70%;
    width: 100%;
}

.tool-box .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
    font-size: 3vh;
    padding: 0 15px;
}

.tool-box a {
    padding: 8px 32px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.tool-box a:hover, .offcanvas a:focus{ 
    background-color: #1477bd;
    border: none !important;
    /* 163e6f */
}

.tool-box-close {
    position: relative;
    height: 5%;
}

.tool-box-link {
    height: 20%;
    width: 100%;
}

.tool-box-link a {
    height: 25%;
    font-size:18px;
    font-size: 2vh;
    white-space: nowrap;
    overflow: hidden;
}


.tool-box table tr td:first-child {
    padding: 5px;
    text-align: center;
}

#vis-container {
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.vis {
    position: relative;
    width: auto;
    height: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 40px rgba(0,0,0,0.2);
    overflow: hidden;
}

.vis .img-block {
    position: relative;
    padding: 0;
    margin: 0 auto;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    white-space: nowrap;
    display: flex;
}

.vis .img-block img {
    height: 100%;
    z-index: 0;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.vis .img-block:not(.img-patch) img {
    
}

.vis .img-block.img-patch img {
    position:absolute;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0; 
    width: 100%;
}

.vis .img-block.img-patch div.uniqueness-chart {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    pointer-events: none;
    z-index: 0;
}

.vis .img-block.img-patch div.uniqueness-chart span {
    position: absolute;
    background-size: 100% 100%;
    background-position: center;
    border: none;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}


.img-block canvas {
    position: absolute;
    margin: 0;
    padding: 0;
}

canvas.entity-location, canvas.ngram-usage {
    pointer-events: none;
    z-index: 0;
}

.text-confidence, .entity-location {
    position: absolute;
    left:0;
    pointer-events: none;
    background-color: rgb(244, 167, 66);
    opacity: 0;
    z-index: 1;
}

.entity-location {
    background-color: rgba(53, 153, 66, 0.5);
    opacity: 1;    
}

.img-patch {
    overflow: hidden;
}

.img-patch img {
    width: 100%;
}

.img-patch-text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.img-patch .img-patch-text {
    height: 100%;
    background-color: rgba(0,0,0,0);
    border: none;
    box-shadow: none;
    z-index: 1;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.img-patch .img-patch-text:focus {
    border: none;
    box-shadow: none;
}

#color-options {
    position: absolute;
    right: 60px;
    top: 60px;
}

#draw-options {
    display: none;
    margin-top: 20px;
}

#draw-board {
    position: absolute;
    top: 0;
    left: 0;
}

.draw-color {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid black;
}

#draw-color-select, #text-color-select {
    position: absolute;
    width: 25px;
    height: 25px;
    margin: 0px 0px 0px 5px;
    background-color: black;
    border: 1px solid black;    
}

.overlay { 
    height: 0px;
    overflow: visible;
    pointer-events: none;
}

#sample-text-box {
    border: 1px dashed black;
    margin: 0 auto;
}

.text-box, .text-space, .patch-box {
    position: relative;
}

.text-box img, .text-space img, .patch-box img {
    position: absolute;
    top: 0;
}

.custom-text { 
    position: absolute;
    left: 0;
    white-space:nowrap;
}

.popover {
    width: 250px;
}

.popover ol {
    padding: 10px;
}

@media print {
    .no-print, .no-print *{
        display: none !important;
    }
}

#loading {
    display : none;
}

#loading.show {
    display : block;
    position : fixed;
    z-index: 100;
    background-color:#666;
    opacity : 0.4;
    background-repeat : no-repeat;
    background-position : center;
    left : 0;
    bottom : 0;
    right : 0;
    top : 0;
}

#context-map-container {
    position: absolute;
    right: 0px;
    top: 0px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#entity-map-container {
    position: absolute;
    left: 0px;
    top: 0px;
}

#entity-map-container img {
    position: relative;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#context-map-container table {
    margin-top: 10px;
    width: 100%;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#context-map-container table tr td.before {
    text-align: right;
}

#context-map-container table tr td.after {
    text-align: left;
}

#context-map-container tr td.context-map-title {
    padding: 5px;
    border-radius: 100px;
    background-color: black;
    text-align: center;
    color: white;
    font-size: 20px;
}

#context-map-container .context-map-root {
    background-image: url("line.png");
    background-size: 3px 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 10px;
}

#context-map-container .context-map-root .dot {
    background-color: black;
    margin: 5px auto;
    padding: 5px;
}

.text-space {
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}