<!DOCTYPE html>
<head>
  <title>{% block title %}Inline Viz{% endblock %}      
  </title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="./static/lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./static/css/style.css">
  <link rel="stylesheet" type="text/css" href="./static/css/rangeslider.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  {% block styles %}{% endblock %}
</head>

<body>

    {% block content %}{% endblock %}
    
    <script src="./static/lib/jquery/jquery-3.2.0.min.js"></script>
    <script src="./static/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="./static/js/main.js"></script>
    
    {% block scripts %}{% endblock%}
</body>

</html>

