{% extends "base.html" %}
{% block title %}Textension | Interaction{% endblock %}
{%block content%}
  <div id="loading" style="background-image:url('http://www.greengold.tv/assets/loading.gif');" class="show"></div>
  <div class="modal fade" id="text-edit" tabindex="-1" role="dialog" aria-labelledby="text-edit-title" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="text-edit-title">Edit Text</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input id="img-text-id" type="hidden"/>
          <div class="row">
            <div class="col-sm-12 text-center">  
              <input id="edit-text" type="text"/>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="saveText();">Edit Text</button>
          <button type="button" id="text-visibility" class="btn btn-primary" onclick="toggleTextVisibility();">Remove Text</button>
          <button type="button" class="btn btn-primary" onclick="replaceAllText();">Replace All</button>
          <button type="button" class="btn btn-primary" onclick="undoAllText();">Undo All</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <span id="tool-box-toggle" onclick="openNav()">☰</span>
  <div class="tool-box no-print" style="width:auto;">
    <div class="tool-box-close">
      <a href="javascript:void(0)" class="close-btn" onclick="closeNav()">&times;</a>
    </div>
    <div class="tool-box-link">
      <a href="/">Load New Document ...</a>
      <a href="#" onclick="javasript:openActiveSpaces();">Open Spaces</a>
      <a href="#" onclick="javasript:closeActiveSpaces();">Close Spaces</a>
      <a href="#" onclick="print();">Print</a>
    </div>
    <div class="tool-box-btn">
    <label class="switch">
      <input id="vertical-space" type="checkbox" onclick="toggleMode(this, false, false, false, false);" data-mode="vertical"/>
      <span class="check-btn">
        <table>
          <tr><td><i class="fa fa-arrows-v" style="font-size: 30px;" aria-hidden="true"></i></td></tr>
          <tr><td>Vertical Space</td></tr>
        </table>
      </span>
    </label>
    <label class="switch">
      <input id="horizontal-space" type="checkbox" onclick="toggleMode(this, false, false, false, false);" data-mode="horizontal"/>
      <span class="check-btn">
        <table>
          <tr><td><i class="fa fa-arrows-h" style="font-size: 30px;" aria-hidden="true"></i></td></tr>
          <tr><td>Horizontal Space</td></tr>
        </table>
      </span>
    </label>
    <label class="switch">
      <input id="location" type="checkbox"/>
      <span class="check-btn">
        <table>
          <tr><td><i class="fa fa-map-marker" style="font-size: 30px;" aria-hidden="true"></i></td></tr>
          <tr><td>Locations</td></tr>
        </table>
      </span>
    </label>
    <label class="switch">
      <input id="confidence" type="checkbox"/>
      <span class="check-btn"><table>
          <tr><td><i class="fa fa-thumbs-up" style="font-size: 30px;" aria-hidden="true"></i></td></tr>
          <tr><td>OCR Uncertainty</td></tr>
        </table>
      </span>
    </label>
    <label class="switch">
      <input id="ngram" type="checkbox"/>
      <span class="check-btn">
          <table>
            <tr><td><i class="fa fa-line-chart" style="font-size: 30px;" aria-hidden="true"></i></td></tr>
            <tr><td>N-Gram Usage</td></tr>
          </table>
      </span>
    </label>
    <label class="switch">
      <input id="uniqueness" type="checkbox"/>
      <span class="check-btn">
          <table>
            <tr><td><i class="fa fa-bar-chart" style="font-size: 30px;" aria-hidden="true"></i></td></tr>
            <tr><td>Uniqueness</td></tr>
          </table>
      </span>
    </label>
    <div class="range-slider" id="uniqueness-range" style="display:none;">
      <input class="range-slider__range" type="range" value="1800" min="1800" max="2000" onchange="setUniqueness(this.value)"><span class="range-slider__value">1800</span>
    </div>
    <br/>
    <label class="switch">
      <input id="draw-tool" type="checkbox"/>
      <span class="check-btn">
          <table>
            <tr><td><i class="fa fa-pencil" style="font-size: 30px;" aria-hidden="true"></i></td></tr>
            <tr><td>Draw</td></tr>
          </table>
      </span>
    </label>
    <label class="switch">
      <input id="eraser-tool" type="checkbox" onclick="toggleMode(this, false, false, false, false);" data-mode="eraser"/>
      <span class="check-btn">
          <table>
            <tr><td><i class="fa fa-eraser" style="font-size: 30px;" aria-hidden="true"></i></td></tr>
            <tr><td>Erase Words</td></tr>
          </table>
      </span>
    </label>
    <label class="switch">
      <input id="ocr-text" type="checkbox"/>
      <span class="check-btn">
          <table>
            <tr><td><i class="fa fa-eye" style="font-size: 30px;" aria-hidden="true"></i></td></tr>
            <tr><td>OCR</td></tr>
          </table>
      </span>
    </label>
    <label class="switch">
      <input id="define-tool" type="checkbox" onclick="toggleMode(this);" data-mode="define"/>
      <span class="check-btn">
          <table>
            <tr><td><i class="fa fa-book" style="font-size: 30px;" aria-hidden="true"></i></td></tr>
            <tr><td>Dictionary</td></tr>
          </table>
      </span>
    </label>
    {% if session["options"]["translate"]==True %}
    <label class="switch">
      <input id="translate-text" type="checkbox"/>
      <span class="check-btn">
          <table>
            <tr><td><i class="fa fa-commenting" style="font-size: 30px;" aria-hidden="true"></i></td></tr>
            <tr><td>Translate</td></tr>
          </table>
      </span>
    </label>
    {% else %}
    <!-- <label class="switch">
      <input id="grammar-tree" type="checkbox" onclick="toggleMode(this);" data-mode="grammar"/>
      <span class="check-btn">
          <table>
            <tr><td><i class="fa fa-tree" style="font-size: 30px;" aria-hidden="true"></i></td></tr>
            <tr><td>Grammar Tree</td></tr>
          </table>
      </span>
    </label> -->
    {% endif %}
    <label class="switch">
      <input id="context-tool" type="checkbox" onclick="toggleMode(this);" data-mode="context"/>
      <span class="check-btn">
          <table>
            <tr><td><i class="fa fa-sliders" style="font-size: 30px;" aria-hidden="true"></i></td></tr>
            <tr><td>Context Map</td></tr>
          </table>
      </span>
    </label>
    </div>
  </div>
  <div class="cell-grid">
    {% for i in range(mesh|length) %}
    <div class="img-box" data-img-height="{{ mesh[i][0]['height'] }}" style="height:{{ mesh[i][0]['height'] }}px;">
      {% for j in range(mesh[i]|length) %}
      <img class="img-cell {{'background' if mesh[i][j]['background'] else 'interactive'}}" src="data:image/png;base64,{{ mesh[i][j]['src'] }}"/>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
  <div class="stage container-fluid">
  	 <div class="row" style="height:100%;">
  		<div class="vis no-print">
        <div id="vis-container">
          {% for i in range(image_text|length) %}
          {% if i > 0 and (image_patches|length) > 0 and (image_patches[i-1]|length) > 0 %}
          <div class="img-block img-patch squeeze" id="{{i}}" data-img-height="{{ image_patches[i-1][0]['height'] }}" style="height:0px;">
            {% for y in range(image_patches[i-1]|length) %}
            <span class="patch-box" style="width:{{ image_patches[i-1][y]['width'] }}px;">
              <img style="width:{{ image_patches[i-1][y]['width'] }}px;" id="patch-{{i}}-{{y}}" src="data:image/png;base64,{{ image_patches[i-1][y]['src'] }}"/>
            </span>
            {% if (image_patch_space[i]|length) > 0 and y < (image_patches[i-1]|length)-1%}
            <span class="text-space squeeze" style="width:0px;" data-img-width="{{ image_patch_space[i][y]['width'] }}">
              <img id="patch-space-{{i}}-{{y}}" class="img-patch-space" src="data:image/png;base64,{{ image_patch_space[i][y]['src'] }}"/>
            </span>
            {% endif %}
            {% endfor %}
            <input class="img-patch-text" style="margin-left:{{bounding_boxes[i-1]['x']}}px;"/>
          </div>
          {% endif %}
          <div class="img-block" id="{{i}}" style="height:{{ image_dim[i]['height'] }}px;background-image: url('data:image/png;base64,{{ image_patches[i-1]['src'] }}');">
            {% for y in range(image_text[i]|length) %}
            <span class="text-box" style="width:{{image_text[i][y]['width']}}px;">
              <div style="width:{{image_text[i][y]['width']}}px;" class="custom-text text-center"></div>
              <img id="text-{{i}}-{{y}}" class="img-text" src="data:image/png;base64,{{image_text[i][y]['src']}}"/>
            </span>
            {% if y < (image_text[i]|length)-1 %}
            <span class="text-space squeeze" style="width:0px;" data-img-width="{{ image_space[i][y]['width'] }}">
              <div style="width:{{image_space[i][y]['width']}}px;" class="custom-text text-center"></div>
              <img id="space-{{i}}-{{y}}" class="img-space" src="data:image/png;base64,{{image_space[i][y]['src']}}"/>
            </span>
            {% endif %}
            {% endfor %}
          </div>
          {% endfor %}
          <canvas class="overlay" id="draw-board"></canvas>
          <div id="context-map-container"></div>
          <div id="entity-map-container"></div>
        </div>
      </div>
    </div>
  <div id="page-options">
    <span id="page-options-toggle" onclick="togglePageOptions();">▼</span>
    <ul>
      {% for i in range(num_pages) %}
        <li><a href="/interact/{i}"><span>{{i+1}}</span></a></li>
      {% endfor %}
    </ul>
  </div>
  <div id="color-options">
    <div id="text-options">
      <span id="text-color-select"></span>
      <div style="height:30px;padding-left:40px;">TEXT COLOR</div>
      <div class="draw-color" style="background:#D93240;" id="#D93240" onclick="textColor(this)"></div>
      <div class="draw-color" style="background:#638CA6;" id="#638CA6" onclick="textColor(this)"></div>
      <div class="draw-color" style="background:#BFD4D9;" id="#BFD4D9" onclick="textColor(this)"></div>
      <div class="draw-color" style="background:#0F5959;" id="#0F5959" onclick="textColor(this)"></div>
      <div class="draw-color" style="background:#17A697;" id="#17A697" onclick="textColor(this)"></div>
      <div class="draw-color" style="background:black;" id="black" onclick="textColor(this)"></div>
      <div class="draw-color" style="background:white;" id="white" onclick="textColor(this)"></div>
    </div>
    <div id="draw-options">
      <span id="draw-color-select"></span>
      <div style="height:30px;padding-left:40px;">PEN COLOR</div>
      <div class="draw-color" style="background:#D93240;" id="#D93240" onclick="color(this)"></div>
      <div class="draw-color" style="background:#638CA6;" id="#638CA6" onclick="color(this)"></div>
      <div class="draw-color" style="background:#BFD4D9;" id="#BFD4D9" onclick="color(this)"></div>
      <div class="draw-color" style="background:#0F5959;" id="#0F5959" onclick="color(this)"></div>
      <div class="draw-color" style="background:#17A697;" id="#17A697" onclick="color(this)"></div>
      <div class="draw-color" style="background:black;" id="black" onclick="color(this)"></div>
      <div class="draw-color" style="background:white;" id="white" onclick="color(this)"></div>
      <br/>
      <input type="button" value="clear" id="clr" onclick="erase()">
    </div>
  </div>
</div>
{%endblock%}
{%block scripts%}
  <script type="text/javascript">
    var ocr = {{ ocr|safe }}
    var translation = {{ translation|safe }}
    var word_blocks = {{ word_blocks|safe }}
    var ngram_plot = {{ ngram_plot|safe }}
    var horizontal_margin = 1.5;
    var vertical_margin = 1.2;
  </script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.12/jquery.transit.min.js"></script>
  <script type='text/javascript' src="https://cdn.jsdelivr.net/g/canvas2image@0.1(base64.js+canvas2image.min.js+canvas2image.js)"></script>  
  <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
  <script src="{{ url_for('static', filename='js/linguistic.js') }}"></script>
  <script src="{{ url_for('static', filename='js/interact.js') }}"></script>
  <script src="{{ url_for('static', filename='js/event.js') }}"></script>
{%endblock%}